<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>config builder</title>
</head>
<body>
    <hr />
    <a th:href="@{/}">Главная</a>
    | <a th:href="@{/component}">Назад</a>
    <hr />
    <form th:method="put" th:action="@{/component/{id} (id=${component.getId()})}" th:object="${component}">

        <label for="name">Название компонента : </label>
        <input type="text" id="name" th:field="*{name}" th:value="${component.getName()}" /><br />

        <label for="title">Заголовок компонента</label>
        <input type="text" id="title" th:field="*{title}" /><br />

        <button type="submit">Изменить</button>
    </form>
</body>
</html>