<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>config builder</title>
</head>
<body>
  <hr />
  <a th:href="@{/}">Главная</a>
  <hr />
  <form th:method="post" th:action="@{/build/{id} (id=${id})}" name="form">
    <span th:each="component: ${components}">
      <label th:for="${component.getName()}" th:text="${component.getTitle()}"></label>
      <input type="text" th:id="${component.getName()}" th:name="${component.getName()}" />
      <br />
    </span>
    <button type="submit">Выполнить</button>
  </form>
</body>
</html>